<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robmah.sigosapp" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".sigosapp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ocorrencia"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".identificacao"
            android:label="@string/title_activity_identificacao" >
        </activity>
        <activity
            android:name=".historico"
            android:label="@string/title_activity_histórico"
            android:parentActivityName=".ocorrencia">
        </activity>
    </application>

</manifest>
